<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-parent"><a href="/">Main page</a></li>
            <li class="uk-parent"><a href="/upload">Upload</a></li>
        </ul>
    </div>
</nav>