<!doctype html>
<html lang="en">

{{> head}}

<body>

{{> menu}}

<h1 class="uk-heading-line"><span>{{description}}</span></h1>
<ul>
    {{#each files}}
        <li style="list-style-type: none">
            <span uk-icon="download"></span>
            <a href="/uploads/{{this}}" download>{{this}}</a>
        </li>
    {{/each}}
</ul>

{{> footer}}
</body>
</html>