<!doctype html>
<html lang="en">

{{> head}}

<body>

{{> menu}}

<h1 class="uk-heading-line"><span>{{description}}</span></h1>
<form action="/upload" method="post" enctype="multipart/form-data">
    <div class="js-upload" uk-form-custom>
        <input type="file" name="fileData">
        <button class="uk-button uk-button-default" type="button" tabindex="-1">Choose File</button>
    </div>
    <button class="uk-button uk-button-primary" type="submit">Upload file</button>
</form>

{{> footer}}
</body>
</html>